[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
python-dotenv = "*"
bs4 = "*"
ffmpy = "*"
requests = "*"
dominate = "*"
python-dateutil = "*"
Flask-PyMongo = "*"
flask-mongoengine = "*"
flask-basicauth = "*"

[dev-packages]
jedi = "*"
neovim = "*"
ipython = "*"

[requires]
python_version = "3.7"
