{% extends "page.html" %}
	{% block formset %}
    <div id="formgroup">
      <ul>
         <li><a href="#email_login">Email Login</a></li>
         <li><a href="#google_login">Google Login</a></li>
         <li><a href="#request">Request Login</a></li>
         <li><a href="#invite">Invite Login</a></li>
      </ul>
      {% import "bootstrap/wtf.html" as wtf %}
      <div id="email_login">
		<fieldset>
			<legend>User Login Form</legend>
			<h4>Login with a previously registered email and a password.</h4>
            <form class="form" method="post" role="form">
                    {{ page.login_form.hidden_tag() }}
                    {{ wtf.form_errors(page.login_form, hiddens="only") }}
                    {{ page.login_form.prefix }}
                    {{ wtf.form_field(page.login_form.email) }}
                    {{ wtf.form_field(page.login_form.password) }}
		    {% if page.has_recaptcha %}
		       {{ wtf.form_field(page.login_form.recaptcha) }}
	            {% endif %}
                    {{ wtf.form_field(page.login_form.submit) }}
            </form>
		</fieldset>
      </div>
      <div id="google_login">
		<fieldset>
			<legend>Google User Login</legend>
			<h4>Login with your google account. </h4>
            <form class="form" method="post" role="form">
                {{ page.glogin_form.hidden_tag() }}
                {{ wtf.form_field(page.glogin_form.submit) }}
            </form>
		</fieldset>
      </div>
      <div id="request">
		<fieldset>
			<legend>User Account Request Form</legend>
        <form class="form" method="post" role="form">
            {{ page.request_form.hidden_tag() }}
            {{ wtf.form_field(page.request_form.email) }}
             <h4>In the comments, give us an idea who you are and why you are requesting access.</h4>
            {{ wtf.form_field(page.request_form.comments) }}
            {{ wtf.form_field(page.request_form.submit) }}
	</form>
		</fieldset>
      </div>
      <div id="invite">
	<fieldset>
		<legend>User Account Invitation Form</legend>
		<form class="form" method="post" role="form">
		    {{ page.invite_form.hidden_tag() }}
		    {{ wtf.form_field(page.invite_form.email) }}
		     <h4>In the comments, tell the user why you are inviting them.</h4>
		    {{ wtf.form_field(page.invite_form.comments) }}
		    {{ wtf.form_field(page.invite_form.submit) }}
		</form>
	</fieldset>
      </div>
    </div>
	{% endblock %}
	{% block scriptage %}
		{{ super() }}
		$("#formgroup").tabs()
	{% endblock %}
