body { background-color: grey; }
a:visited { color: midnightblue; }
a { color: mediumblue; }

#header { 
  padding 5px; 
  border: 2px solid blue;
  border-radius: 25px;
  background-color: gray;
  color: yellow;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
#header a, #header a:visited { color: yellow; }
#header h3 { color: white; }

fieldset {
  margin: 10px; 
  padding: 15px;
  border: 2px solid black;
  display: grid;
  grid-auto-columns: auto;
}

.container {
  display: grid;
  grid-template-rows: auto;
  font-size: 30px;
  grid-gap: 10px;
  background-color: darkgray;
  padding: 10px;
}

#footer {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  grid-gap: 10px;
  background-color: darkgray;
  padding: 10px;
}
