#player {
   width: 700px    !important;
   height: auto   !important;
}

#options {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  grid-gap: 10px;
  background-color: darkblue;
  padding: 10px;
}
