{% extends "bootstrap/base.html" %}
{% macro InitDataTable(name) -%}
   <script type="text/javascript" class="init">
      $(document).ready(function() { 
         $('#{{ name }}').DataTable(); 
      } ); </script>
{%- endmacro %}

{% block scripts %}
   {{super()}}

	
	<!-- Jquery CDN scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  			  crossorigin="anonymous"></script>
	<script src="/static/jquery.blockUI.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="/static/js.cookie.js"></script>

	<!-- Datatables CDN script -->
   <script src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"> </script>

	<!-- Bootstrap CDN script -->
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

{% endblock %}

{% block styles %}
   {{super()}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/static/manna.css" rel="stylesheet"> 
   <link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet"> 
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"> 
{% endblock %}

{% block title %}Manna{% endblock %}

{% block content %}
{% endblock %}

{%- block footer %}
  <p>
     Powered by the <a href="http://flask.pocoo.org">Flask</a> microframework 
     and the Holy Spirit!
     </br>
     &copy; Copyright 2016 by <a href="/">Pleroma Bible Church</a>.
  </p>
{%- endblock footer %}
