{% extends "base.html" %}
	{% block headspace %} 
		<title>{{ page.title|safe }}</title>
		{% for css in page.css: %}
			<link rel="stylesheet" type="text/css" href="{{css}}"> 
		{% endfor %}
		{% for script in page.scripts: %}
			<script src="{{script}}"></script>
		{% endfor %}
		<style>{{page.style}}</style>
	{% endblock %}
   {% block bannerspace %}
      <section class="header" style="center; width: 100%; ">
	      <h3 class="title">
	      {% for portion in page.breadcrumbs %}
		      <a href="{{portion.url}}">{{portion.name|safe}}</a> {% if not loop.last %} > {% endif %}
	      {% endfor %}
	      </h3>
      </section>
	{% endblock %}
   {% block contentspace %}
      <section class="content">
         {% for name, rstr in prerendered %}
            {{ rstr | safe }}
         {% endfor %}
      </section>
	{% endblock %}
	{% block footspace %}
      <section class="footer" 
               style="text-align: center; width: 100%; display: flex; justify-content: space-between;">
			<a href="{{ url_for('list_latest') }}">Latest</a>
			<a href="{{ url_for('show_catalog_page') }}" onclick="shift_edit(event, this)">Catalog</a>
			{% if not current_user.is_authenticated %}
				 <a href="{{ url_for('user.login') }}" onclick="shift_edit(event, this)">Login/Register </a>
			{% else %}
				<a href="{{ url_for('user.logout') }}" onclick="shift_edit(event, this)">Logout {{current_user.email}}</a>
			{% endif %}
			<a href="/">Back to the Front!</a>
      </section>
      <script>
         function shift_edit(event, slink) { 
            if (event.shiftKey)
               event.preventDefault();
               lref = slink.href + '\/edit';
               lref = lref.replace('/latest/', '/');
               window.location.href = lref;
               return false; 
         } 
         $(document).ready(function() { 
          {{ page.scriptage | safe }} 
         })
      </script>
	{% endblock %}
