{% extends "bootstrap/base.html" %}
	{% block styles %} 
		{{ super() }}
		<link rel="stylesheet" type="text/css" 
				href="https://cdn.datatables.net/r/ju-1.11.4/jqc-1.11.3,dt-1.10.8/datatables.min.css">
		<link rel="stylesheet" type="text/css" 
				href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css"> 
		<style>
			body { margin: 15px; background-color: grey; }
			a:visited { color: gold; }
			a { color: yellow; }
            button a { color: black; }
            button a:visited { color: blue; }
			fieldset {
			  margin: 10px; 
			  padding: 15px;
			  border: 2px solid black;
			  display: grid;
			  grid-auto-columns: auto;
			}
			.site-title { margin: 0 auto;
                           padding: 10px;
                          font-weight:bold; 
                          text-align:center; 
                          width:auto;
                          background-image: linear-gradient(to right, gray,black,gray);
                          color:orange; }
			.table-title { margin: 0 auto;
                          padding: 10px;
                          font-weight:bold; 
                          width:auto;
                          background-image: linear-gradient(to right, black,gray);
                          color:yellow; }
			.form-control { width: 100%; }
			.menu {
			  display: grid;
              width:auto;
			  grid-template-columns: auto auto;
			  padding: 10px;
			  font-weight:bold; 
			  border-radius: 20px;
			  background-image: linear-gradient(to right, gray,black,gray); 
            }
			.mright { text-align: right; }
			table { 
				 background-color: blue; 
			}
			table.dataTable tbody tr { 
				 background-color: gray; 
				 color: black;
				 text-align: left;
				 font-size: 15px;
			}
			table.dataTable tbody tr a { color: yellow; }
            {% block extrastyle %} 
            {% endblock %}
		</style>
	{% endblock %}
	{% block title %}{{page.title}}{% endblock %}
   {% block content %}
       <h2 class="site-title"><a href="/">{{ page.site_name }}</a></h2>
		<h3 class="menu" >
			<a href="{{ url_for('recents') }}" onclick="shift_edit(event, this)">Recent</a>
			<a class="mright" href="{{ url_for('view_archives') }}" onclick="shift_edit(event, this)">Archives</a>
			{% if current_user.is_authenticated %}
				<a href="{{ url_for('logout') }}" onclick="shift_edit(event, this)">Logout as {{ current_user.username }}</a>
			{% else %}
				<!--a href="{{ url_for('login') }}" onclick="shift_edit(event, this)">Login/Register </a-->
			{% endif %}
		</h3>
		<h3 class="title">
		<!--{% for portion in page.breadcrumbs %}
			<a href="{{portion.url}}">{{portion.name|safe}}</a> {% if not loop.last %} > {% endif %}
		{% endfor %}-->
		</h3>
		<h3 id="status" style="background: black; color: red;">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						{{ message }}
					{% endfor %}
				{% endif %}
			{% endwith %}
		</h2>
      {% block main %}
      {% endblock %}
      {% block formset %}
			{% import 'macros.j2' as macro %}
         {% for form in page.forms %}
				{{ macro.render_form(form) }}
         {% endfor %}
      {% endblock %}
	{% endblock %}
	{% block scripts %}
		{{ super() }}
		<script src="https://cdn.datatables.net/r/ju-1.11.4/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
		<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
		<script>
			$(document).ready(function() { {% block scriptage %}{% endblock %} })
			function shift_edit(event, slink) { 
				if (event.shiftKey) 
					event.preventDefault();
                    if (typeof(slink) == "string") 
                        window.location = slink
                    else
                        window.location = slink.href + '\/edit';
					return false; 
			} 
		</script>
	{% endblock %}
