{% extends "bootstrap/base.html" %}
{% block content %}
    <form method=post> 
        <div class="form-group">
          {{ form.bookSel(**{"onchange":"this.form.submit()"}) }}
          {{ form.chapSel(**{"onchange":"this.form.submit()"}) }}
        </div>
        <div class="form-group">
          {% for verse in form.verses %}
              <button class="text-left">{{ verse }}</button><br>
          {% endfor %}
        </div>
    </form>
{% endblock %}
