{% block content %}
    <div>
        <table id="books">
			{%- for (book1,book2) in scripture.oldTestament|batch(2,"none") %}
				<tr>
					<td><a href="/scripture/{{book1.name}}"/>{{book1.name}}</a></td>
					<td><a href="/scripture/{{book2.name}}"/>{{book2.name}}</a></td>
				</tr>
			{%- endfor %}
        </table>
    </div>
{% endblock %}
