{% extends "base.jinja" %}
{% block scripts %} {{ super() }}
   <style type="text/css"> .important { color: #336699; } </style>
   {{ InitDataTable("series") }}
	<script> 
      function waitForMp3(url, name) { 
			$.blockUI({ message: '<h1>Generating MP3, please wait...</h1>' });
			window.location = url
			fileDownloadCheckTimer = window.setInterval(function () {
			var cookieValue = Cookies.get('fileDownloadToken');
			if (cookieValue == name) finishDownload();
			}, 1000);
         return false; //critical to stop the click event which will trigger a normal file download!
      }
		function finishDownload() {
			window.clearInterval(fileDownloadCheckTimer);
			Cookies.remove('fileDownloadToken'); //clears this cookie value
			$.unblockUI();
		}
   </script>
{% endblock %}
{% block content %}
   <div align="center">
    {% if selection %}
       <video autoplay="True" controls="True" 
              height="476" width="640">
          <source src="{{ selection.url }}" type="video/mp4"> </source>
       </video>
    {% else %}
       <h2 class="important" style="color: red"> 
            Select a lesson from the {{ series }} series below: 
       </h2>
    {% endif %}
   </div>
   </br>

   <ul class="nav nav-tabs">
     <li class="active"><a data-toggle="tab" href="#lessons">Series Lessons</a></li>
     <li><a data-toggle="tab" href="#scripture">Scripture</a></li>
   </ul>

   <div class="tab-content">
     <div id="lessons" class="tab-pane fade in active">
         <table id="series">
            <thead><tr><th>Series</th><th>Video Lesson</th><th>Audio Lesson</th><th>Age</th></tr></thead>
            <tbody>
               {% for lesson in series.lessons %}
                  <tr>
                   <td>{{ lesson.series }}</td>
                   <td><a href="{{ url_for('renderLesson', sname=series, lname=lesson) }}">
                          {{ lesson }}</a></td>
                   <td> <a id="mp3cont" href="#" onclick="waitForMp3(
									'{{ url_for('renderLesson', sname=series, lname=lesson, astype='mp3') }}',
									'{{ lesson.name }}')">
                        {{ lesson|replace('mp4','mp3') }}</a></td>
                   <td> {{ lesson.age }} days </td>
                  </tr>
                 {% endfor %}
            </tbody>
         </table>
			<div id="preparing-file-modal" title="Preparing mp3..." style="display: none;">
					Please wait while mp3 is generated!
				<div class="ui-progressbar-value ui-corner-left ui-corner-right" 
					  style="width: 100%; height:22px; margin-top: 20px;"></div>
			</div>
			<div id="error-modal" title="Error" style="display: none;">
					There was a problem generating your mp3, try again.  </div>
				  </div>
     <div id="scripture" class="tab-pane fade">
         <iframe src="/scripture" height="500" width="100%"></iframe>
     </div>
   </div>
   <a href="/"> Back to the Front!</a>
{% endblock %}
