{% extends 'table.html' %}
{% block table_head %}
   <tr>
      <th>Date</th>
      <th>Series</th>
      <th>Lesson</th>
      <th>Duration</th>
   </tr>
{% endblock %}
{% block table_body %}
   {% if vids %}
      {% for vid in vids %}
      <tr>
         <td>{{vid.date.strftime("%Y-%m-%d") }}</td>
	 <td><a href={{ url_for('show_series_page', series=vid.parent_name) }}>{{vid.parent_name}}</a></td>
         <td><a href={{vid.uri}}>{{vid.name}}</a></td>
         <td>{{vid.duration}}</td>
      </tr>
      {% endfor %}
   {% endif %}
{% endblock %}
